<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form [formGroup]="form" class="form" (submit)="submit()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center" [ngClass]="bgPrimaryCSS">
                <img [src]="logo" height="36" (error)="logo='/assets/img/logo/logo-blue.png'" />
              </div>
              <div class="card-body">
                <mat-form-field appearance="fill" floatLabel="auto">
                  <i matPrefix class="material-icons mr-2">email</i>
                  <input formControlName="email" matInput type="email" placeholder="Email" class="mb-2" />
                  <mat-error *ngIf="form.get('email').hasError('required')" class="ml-1">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('email').hasError('pattern')" class="ml-1">
                    Email is not <strong>valid</strong>
                  </mat-error>
                </mat-form-field>
                <ng-container *ngIf="form.value.resetId">
                  <mat-form-field appearance="fill" floatLabel="auto">
                    <i matPrefix class="material-icons mr-2">dialpad</i>
                    <input formControlName="code" matInput type="text" placeholder="Code" class="mb-2" />
                    <mat-error *ngIf="form.get('code').hasError('required')" class="ml-1">
                      Code is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" floatLabel="auto">
                    <i matPrefix class="material-icons mr-2">lock_outline</i>
                    <input formControlName="password" matInput type="password" placeholder="New Password"
                      class="mb-2" />
                    <mat-error *ngIf="form.get('password').hasError('required')" class="ml-1">
                      New password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('password').hasError('minlength')" class="ml-1">
                      Password should be more than <strong>6 characters</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" floatLabel="auto">
                    <i matPrefix class="material-icons mr-2">lock_outline</i>
                    <input formControlName="confirmPassword" matInput type="password" placeholder="Repeat New Password"
                      class="mb-2" [errorStateMatcher]="passwordMatcher" />
                    <mat-error *ngIf="form.get('confirmPassword').hasError('required')" class="ml-1">
                      Confirm password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('confirmPassword').hasError('notSame')" class="ml-1">
                      Password should be <strong>matched</strong>
                    </mat-error>
                  </mat-form-field>
                </ng-container>
              </div>
              <div class="card-footer d-block text-center px-3 mx-0">
                <button class="btn btn-primary btn-block" [ngClass]="bgPrimaryCSS" type="submit"
                  [disabled]="form.invalid || loading">
                  Submit
                  <span *ngIf="loading" class="spinner-border spinner-border-sm float-right" role="status"
                    aria-hidden="true"></span>
                </button>
                <a routerLink="/login" class="btn btn-sm btn-link btn-info px-0">Sign In</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer" style="z-index: 999">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <a href="https://www.parkmycarshare.com/privacypolicy" target="_blank">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="https://parkmyshare.com/terms" target="_blank">
                Terms of Service
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</div>