<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center mt-3">Credential Management</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="searchForm">
                            <div class="row align-items-baseline">
                                <div class="col-md-auto">
                                    <button mat-raised-button type="submit" class="btn btn-success mr-2"
                                        (click)="onSearchCredential()">Search</button>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Filter by Credential/Host</mat-label>
                                        <input formControlName="searchCriteria" matInput type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field>
                                        <mat-label></mat-label>
                                        <mat-select formControlName="credentialType">
                                            <mat-option [value]="'All'">All</mat-option>
                                            <mat-option [value]="'Tag'">Tag</mat-option>
                                            <mat-option [value]="'QR'">QR</mat-option>
                                            <mat-option [value]="'PIN'">PIN</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="credentials?.length > 0" class="row">
                            <div class="col-md-12">
                                <h5 class="font-weight-bold mt-3">Top 500 Results</h5>
                            </div>
                            <div class="col-md-12">
                                <app-data-table [tableId]="tableId" [columnDefs]="columnDefs" [data]="credentials"
                                    [searching]="false" [paging]="false" [info]="false"></app-data-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="actionsModalId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="actionsModalId + 'Label'" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="modal-body">
                <button *ngFor="let item of selectedCredential?.actionMenu" mat-raised-button
                    class="btn btn-primary btn-block" (click)="onClickMenu(item)">{{ item }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="viewSubscriptionModalId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="viewSubscriptionModalId + 'Label'" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Subscription Details</h4>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Name: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Make: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.make }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Modal: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.model }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Color: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.color }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>State: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.licensePlateState }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>License Plate: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.licensePlate }}</div>
                        </div>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Tag: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.subscriptionTag }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label>Faclity: </label>
                            </div>
                            <div class="col-md-6">{{ selectedVehicle?.subscriptionFacilityName }}</div>
                        </div>
                    </div>
                </div>

                <mat-divider *ngIf="selectedVehicle?.addOnUnlimiteds.length > 0"></mat-divider>

                <ng-container *ngIf="selectedVehicle?.addOnUnlimiteds.length > 0" class="my-3">
                    <h5 class="d-flex justify-content-center">Unlimited Subscriptions</h5>
                    <div *ngFor="let permit of selectedVehicle?.addOnUnlimiteds">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <label>Facility: </label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ permit?.facilityName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <label>Car Park: </label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ permit?.carParkName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <label>Status: </label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ permit?.status }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="reassignHostModalId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="reassignHostModalId + 'Label'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Host</h4>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="searchHostForm">
                    <div class="row align-items-baseline">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Search Host</mat-label>
                                <input formControlName="searchHostCriteria" type="text" matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-auto">
                            <button mat-raised-button type="submit" class="btn btn-success mr-2"
                                (click)="onSearchHost()">Search</button>
                        </div>
                    </div>
                </form>

                <div *ngIf="hosts?.length > 0" class="row">
                    <div class="table-responsive px-4">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width: 5%"></th>
                                    <th>Company Name</th>
                                    <th>Owner Name</th>
                                    <th>Owner Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let host of hosts">
                                    <td>
                                        <mat-radio-button [value]="host"
                                            (change)="onChangeHost($event.value)"></mat-radio-button>
                                    </td>
                                    <td>{{ host?.companyName }}</td>
                                    <td>{{ host?.ownerName }}</td>
                                    <td>{{ host?.ownerEmail }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button mat-raised-button type="button" class="btn btn-danger mr-2" data-dismiss="modal">Cancel</button>
                <button mat-raised-button type="button" class="btn btn-success" (click)="onAssignTag()">Assign</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="historyModalId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="historyModalId + 'Label'">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tag History</h4>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="modal-body">
                <app-table [columnDefs]="historyColumnDefs" [data]="historyTableData" [showSearch]="false"
                    [pageSizeOptions]="[10]">
                </app-table>
            </div>
        </div>
    </div>
</div>