<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-center mt-3">Tag Master Exports</h3>
          </div>
          <div class="card-body">
            <app-data-table tableId="tagMasterExportsDatatable" [columnDefs]="columnDefs" [data]="facilities">
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>