<div class="modal fade" [id]="logModalId" tabindex="-1" role="dialog" [attr.aria-labelledby]="logModalId + 'Label'"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Log</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <ckeditor [editor]="editor" [config]="config" [formControl]="messageCtrl"></ckeditor>
        <div class="d-flex flex-wrap mt-3">
          <div *ngFor="let file of fileNames; index as i" class="d-flex align-items-center mb-2 mr-3 file">
            <i class="material-icons">attachment</i>
            <span class="ml-2 mr-3 name">{{file}}</span>
            <i class="material-icons icon-delete" title="Delete File" (click)="onDeleteFile(i)">delete</i>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <!-- <button mat-raised-button class="btn btn-info" (click)="openLogFileDialog()">
              <i class="material-icons">attach_file</i>Attach files
            </button> -->
            <input [id]="logModalId + 'Files'" type="file" multiple hidden (change)="onSelectLogFiles($event)">
          </div>
          <div class="col text-right">
            <button mat-raised-button class="btn btn-danger mr-2" (click)="messageCtrl.setValue('')">Clear</button>
            <button mat-raised-button class="btn btn-success" [disabled]="messageCtrl.invalid"
              (click)="onSaveLog()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>