::ng-deep {
  .mat-sort-header {
    &.text-right {
      .mat-sort-header-container {
        justify-content: end;
      }
    }
  }
}

.link {
  cursor: pointer;

  .material-icons {
    vertical-align: text-top;
    font-size: 1rem;
    margin-left: 4px;
  }
}

.icon-download {
  font-size: 1.125rem;
  cursor: pointer;
}
